html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  opacity: 1;
  transition: .3s linear;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  opacity: .6;
}

img {
  max-width: 100%;
  display: block;
}

button {
  opacity: 1;
  transition: .3s linear;
  cursor: pointer;
}

button:hover {
  opacity: .6;
}
