.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  padding: 0 72px;;
}

.navigation__string {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.navigation__nav {
  display: flex;
  align-items: center;
}

.navigation__path {
  display: flex;
  align-items: center;
  margin-right: 4px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #8C8C8C;
}

.navigation__path_active {
  color: #0468FF;
}

.navigation__arrow {
  width: 16px;
  height: 16px;
  background-image:
    url("../../public/images/arrow_right.svg");
}

.navigation__buttons {
  display: flex;
  align-items: center;
}

.navigation__button {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #262626;
  border: none;
  margin-right: 16px;
  background-color:transparent;
  display: flex;
  align-items: center;
  padding: 0;
}

.navigation__button:last-of-type {
  margin-right: 0;
}

.navigation__plus {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image:
    url("../../public/images/plus.svg");
    background-size: contain;
}

.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 48px 0;
  margin: 0;
}

.navigation__link {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #434343;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-right: 1px solid #D9D9D9;
}

.navigation__link_active {
  color: #0468FF;
}

.navigation__link:last-of-type {
  border-right: none;
}

.navigation__icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.navigation__hotel {
  background-image:
    url("../../public/images/hotel.svg");
}

.navigation__breeezzor {
  background-image:
    url("../../public/images/breeezzor_pass.svg");
}

.navigation__servis {
  background-image:
    url("../../public/images/servis.svg");
}

.navigation__restaurant {
  background-image:
    url("../../public/images/restaurant.svg");
}

.navigation__events {
  background-image:
    url("../../public/images/events.svg");
}
